<mat-toolbar color="primary">
    
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>

    <h1>
      {{title}}
    </h1>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/" routerLinkActive="active"> Products </a>
      <!-- <a mat-button routerLink="products/create-account" routerLinkActive="active"> Create Account </a> -->
      <a mat-button routerLink="products/details" routerLinkActive="active"> Detail </a>
      <a mat-button routerLink="create-contact" routerLinkActive="active"> Create Contact </a>
      <a mat-button routerLink="activities" routerLinkActive="active"> Activities </a>
      <a mat-button routerLink="create-activity" routerLinkActive="active"> Create Activity </a>

    </div>
  </mat-toolbar>