table tr td {
    border: 1px solid #d4d6d8;
}
table {
    border-collapse: collapse;
}
div a{
    color: #fff !important;
}
a.mat-list-item {
    color: #999;
}
.active {
    background-color: #7DC142;
    color: white !important;
}