

    <!-- <h1>Welcome to {{ title }}. My first app is running!</h1> -->
    <app-toolbar></app-toolbar>

    <mat-sidenav-container>
      <mat-sidenav #sidenav opened mode="side">
        <mat-nav-list>
    
          <a mat-list-item routerLink="/" routerLinkActive="active"> Products </a>
          <!-- <a mat-list-item routerLink ="products/create-account" routerLinkActive="active"> Create Account </a> -->
          <a mat-list-item routerLink ="products/details" routerLinkActive="active"> Details </a>
          <a mat-list-item routerLink ="'/create-contact'" routerLinkActive="active"> Create Contact </a>
          <a mat-list-item routerLink ="/login" routerLinkActive="active"> Login </a>
          <a mat-list-item routerLink ="'/create-activity'" routerLinkActive="active"> Create Activity </a>
          <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>