<div style="padding: 13px;">
    <mat-spinner *ngIf="products.length === 0"></mat-spinner>
    <div input-box [products]="products" [value]="'CYAN'"></div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="start-start" fxLayoutGap mat-button (click) = "showDetails($event)" class="tree" id="tree">
    
    <mat-card *ngFor="let product of products" fxFlex="24" class="sec1" fxFlex.xs="100">
        <mat-card-header>
            <mat-card-title id="{{product.id}}">{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.price}} $/ {{product.quantity}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description | truncate}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content>
        <mat-card-actions>
      <button id="{{product.id}}"> Buy product</button>
    </mat-card-actions>
    </mat-card>
</div>
</div>
<app-detail [name]="prakash"></app-detail>  

<router-outlet ></router-outlet>
